body{
    background-color: pink;
    display: flex;
    flex-direction: column;
}
h2,h5{
    text-align: center;
}

form{
    background-color: aqua;
    border: 10%;
    width: 50%;
    align-self: center;
    size: 100px;

}
   div{
    margin: 10%;
    border-style:ridge;
    border-radius: 5%;
    text-align: left;
    padding: 5%;
} 

input[type=submit]{
    color: blueviolet;
    background-color:plum;
    display:inline-block;
    width: 20%;
    margin: 2px;
    
}
h2{
    color: blue;
}

.home, .contact{
    color:darkcyan;
}

:hover{
    color: red;
}
.submit:hover{
    color: red;
}
h4{
    margin:0%;
    padding: 5px;;
}